@using System.Globalization;
@using static System.Globalization.CultureInfo;
@namespace Lookif.UI.Component.Date.DateTimePickers


<div class="d-flex">
    <select  @bind="SelectedDay" style="width:25%;font-size:small">

        @for (int i = 1; i <= DaysValue; i++)
        {
            <option value=@i>@i</option>
        }
    </select>
    <select @bind="SelectedMonth" style="width:42%;font-size:small">
        @foreach (var month in MonthNames)
        {
            <option value=@(month.RowNumber + 1)>@month.Name</option>
        }
    </select>
    <select @bind="SelectedYear" style="width:33%;font-size:small">
        @{
            //int year = CurrentCulture.Calendar.GetYear(DateTime.Now);
            for (int i = YearValue - 100; i <= YearValue + 100; i++)
            {
                <option value=@i>@i</option>
            }
        }
    </select>
</div>