@namespace Lookif.UI.Component.Modals


<div style="width: 70vw;direction: rtl;">

    <p>
        @Title
    </p>


    <button @onclick="() => OnConfirm(Data)" class="btn btn-primary">بله</button> 
    <button @onclick="OnCancel" class="btn btn-primary">خیر</button> 
</div>



 