@namespace Lookif.UI.Component.Modals


<div style="width: 200px; text-align-last: center;">
    <button @onclick="OnCancel" class="btn btn-info">@NO</button> 
    <button @onclick="OnConfirm" class="btn btn-warning">@YES</button> 
</div>



 <style>
     h3 {
     font-family:'IranSansBold'
     }
     </style>