@namespace Lookif.UI.Component.Components.SeparatedComponents
@using Lookif.UI.Component.Components.SeparatedComponents.SimpleForm

@using Microsoft.Extensions.Localization;
@using Lookif.UI.Component.Resources
@inject IStringLocalizer<Resource> basicResource
<div style="width: 70vw;direction: rtl;">

    <Form Dto="@MyTItem" Key="@MyKey" OnFinished="MyOnFinished" Resource="Resource"></Form>


    
</div>