@namespace Lookif.UI.Component.Components.SeparatedComponents 
@using Lookif.UI.Component.Components.SeparatedComponents.SimpleForm
<div style="width: 70vw;direction: rtl;">

    <Form  Dto="@MyTItem" Key="@MyKey" OnFinished="MyOnFinished"></Form>


    <button @onclick="Close" class="btn btn-primary">خروج</button> 
</div>